@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base{
  font-family: Arial;
}
@font-face {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  src: local('Arial'), local('Arial');
  font-display: swap;
} */

body,
html {
  width: 100%;
}
#root {
  width: 100%;
}
.swiper {
}
.swiper-wrapper {
}

.arrows {
  width: 60px;
  height: 80px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -15px;
  visibility: hidden;
}

@media (min-width: 600px) {
  .arrows {
    visibility: visible;
  }
}

.arrows path {
  stroke: #000;
  fill: transparent;
  stroke-width: 1px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow /*Safari and Chrome*/ {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s; /* Safari 和 Chrome */
}
